<footer class="w-full pt-6 text-center">
  <ul class="w-full flex justify-center gap-3 mb-2">
    <li>
      <a href="">Facebook</a>
    </li>
    <li>
      <a href="">Instagram</a>
    </li>
    <li>
      <a href="">Youtube</a>
    </li>
    <li>
      <a href="">Bandcamp</a>
    </li>
    <li>
      <a href="">Spotify</a>
    </li>
    <li>
      <a href="">Apple Music</a>
    </li>
    <li>
      <a href="">Deezer</a>
    </li>
  </ul>

  <div class="text-xs py-1 bg-black text-white">© KNTC</div>
</footer>
