<header class="main-header fixed w-full z-50 h-20 flex items-center justify-between transition-all ease-in-out duration-1000 anim--cascad" data-animate="" data-header-scroll="">
  <div class="w-11/12 mx-auto max-w-7xl flex items-center justify-between">
    <div>
      <a href="{{ "/" | relative_url }}">
        <img src="assets/images/logo-white.png" class="main-header__logo-white h-10 anim-fade-up" loading="lazy">
      </a>

      <a href="{{ "/" | relative_url }}">
        <img src="assets/images/logo-black.png" class="main-header__logo-black h-8 hidden anim-fade-up" loading="lazy">
      </a>
    </div>

    <nav class="flex flex-col justify-center">
      {% include navigation.html navigation=site.data.navigation %}
    </nav>
  </div>
</header>
