<form name="newsletter" method="POST" netlify>
  <div class="mt-1 flex rounded-md shadow-sm anim-fade-up">
    <div class="relative flex items-stretch flex-grow focus-within:z-10">
      <input type="text" name="email" id="email" required class="bg-transparent pl-2 block w-full rounded-none rounded-l-lg placeholder-gray-600 border border-red focus:outline-none" placeholder="your@email.here">
    </div>
    <button class="inline-flex items-center px-6 py-2 text-lg font-bold uppercase rounded-r-lg shadow-sm text-white bg-red transition-colors duration-500 ease-smooth hover:bg-red-light hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red">
      <span>Subscribe</span>
    </button>
  </div>
</form>
