---
# Only the main Sass file needs front matter (the dashes are enough)
---

@tailwind base;


@layer base {
  @mixin transitionDelayUp($defaultduration, $stepDuration, $firstStep, $lastStep) {

    $currentDuration: $defaultduration;

    @for $i from $firstStep through $lastStep {
      &:nth-child(#{$i}) {
        transition-delay: $currentDuration;
      }

      $currentDuration: $currentDuration + $stepDuration;
    }
  }

  body {
    @apply font-roboto;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    @apply mb-4;
    @apply font-montserrat;
    @apply font-semibold;
    @apply tracking-wider;
    @apply uppercase;
  }

  h1 {
    @apply text-4xl;
    @apply md:text-5xl;
  }
  h2 {
    @apply text-2xl;
    @apply md:text-3xl;
  }

  h3 {
    @apply text-xl;
    @apply md:text-2xl;
  }

  a {
    @apply text-red;

    &:hover {
      @apply text-red-light;
    }
  }

  section {
    @apply my-5;
  }

  p {
    @apply mb-5;
  }

  .anim-fade-up {
    @apply opacity-0;
    transform: translate3d(0,10%,0);
    @apply transition-all;
    @apply duration-700;
    @apply ease-in-out;
  }

  .in {
    &.anim-fade-up,
    .anim-fade-up {
      @apply opacity-100;
      transform: translate3d(0,0,0);
    }
  }

  .anim--cascad {
    .anim-fade-up {
      @include transitionDelayUp(1000ms, 200ms, 1, 10);
    }
  }

  .header-is-scrolling {
    @apply bg-white;
    height: 4rem !important;
    @apply shadow-lg;

    .main-header {
      &__logo-white {
        @apply hidden;
      }

      &__logo-black {
        @apply block;
      }

      &__link {
        @apply text-black;

        &:hover {
          @apply text-red-light;
        }
      }
    }
  }

  .main-header__link.active {
    @apply text-red-light;
  }
}

@tailwind components;
@tailwind utilities;
