---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">

  {% include head.html %}

  <body class="min-h-screen bg-gray-100 text-center">

    {% include header.html %}

    <main>
      {{ content }}
    </main>

    <div class="py-12 shadow-inner">
      {% include social-links.html %}
    </div>

    {% include footer.html %}

    <script src="{{ site.baseurl }}/assets/js/constant-height.js"></script>
    <script src="{{ site.baseurl }}/assets/js/animation-scroll.js"></script>
    <script src="{{ site.baseurl }}/assets/js/header-scroll.js"></script>
  </body>

</html>
