---
layout: default
---
  <div class="relative text-white h-app-height bg-fixed bg-cover bg-center flex flex-col justify-center items-center anim--cascad" data-animate="" style="background-image: url(assets/images/bg-home.jpg)">
    <div class="absolute top-0 left-0 right-0 bottom-0 w-full h-full bg-black opacity-30 z-10"></div>
    <div class="px-5 max-w-md z-20">
      <img src="assets/images/the-great-escape/title-white.png" class="mb-2" title="The Great Escape" alt="The Great Escape">
      <h1 class="sr-only">The Great Escape</h1>
      <p class="uppercase font-montserrat font-extralight text-md sm:text-xl">Debut album out now</p>
    </div>
    <div class="z-20 max-w-xs">
      <a href="/the-great-escape" class="flex">
        <img src="assets/images/the-great-escape/cd-the-great-escape.png" alt="The Great Escape - LISTEN NOW" loading="lazy">
        <span class="text-xs uppercase absolute bg-red text-white px-4 py-1 font-montserrat font-bold">Listen now !</span>
      </a>
    </div>

    <div class="absolute text-white mx-auto pb-5 w-full flex justify-center bottom-0 z-20 anim-fade-up">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-12 animate-bounce" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </div>
  </div>

  {% if content %}
    {{ content }}
  {% endif %}
